<h1>wordpress</h1>

<div *ngIf=" wp.isLogged ">You are logged in as {{ wp.myNickname }}</div>
<button type="button" (click)=" wp.logout() ">LOGOUT</button>


<form (ngSubmit)="onSubmitRegister()">
  <div>Email: <input type="text" name="email" [(ngModel)]="form.email"></div>
  <div *ngIf=" ! wp.isLogged ">Password: <input type="text" name="password" [(ngModel)]="form.password"></div>
  <div *ngIf=" ! wp.isLogged ">Username: <input type="text" name="username" [(ngModel)]="form.username"></div>
  <div>Nickname: <input type="text" name="nickname" [(ngModel)]="form.nickname"></div>
  <button type="submit">
    {{ wp.isLogged ? 'Update' : 'Register' }}
  </button>
</form>


<form (ngSubmit)=" onSubmitPostCreate() ">
    <div>Title: <input name="title" [(ngModel)]="post.title"></div>
    <div>Content: <input name="content" [(ngModel)]="post.content"></div>
    <button type="submit">Create Post</button>
</form>